---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div>
        <img class="cover-author-image" src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}">
      </div>
      <div class="author-name">{{site.author}}</div>
      <p style="font-size:16px; text-transform: uppercase;">{{site.about-author}}</p>
    </div>
  </header> <!-- End Header -->
  <body>
    <center>
      <style>
        a:link {
          color: rgb(255, 255, 255);
        }
        a:visited {
          color: rgb(255, 255, 255);
        }
        a:active {
          color: rgb(255, 255, 255);
        }
      </style>
      <a style="text-decoration: none;" href="/index.html"> <div class="menu-nav-bar"><i class="fa fa-home" style="font-size:18px;"></i> &nbsp;&nbsp;&nbsp; HOME </div></a>
      <br><br>
      <a style="text-decoration: none;" href="/about/index.html"> <div class="menu-nav-bar"><i class="fa fa-info-circle" style="font-size:18px;"></i> &nbsp;&nbsp;&nbsp; ABOUT </div></a>
      <br><br>
    </center>
  </body>
  <footer>
    <section class="contact">
      <ul>
        <!--
        {% if site.social-medium %}
          <li><a href="https://medium.com/@{{ site.social-twitter }}" target="_blank"><i class="fa fa-medium" style="color:rgb(255, 255, 255);" aria-hidden="true"></i></a></li>
        {% else %}
          <li><a href="https://medium.com/" target="_blank"><i class="fa fa-medium" style="color:rgb(255, 255, 255);" aria-hidden="true"></i></a></li>
        {% endif %}
        -->
        {% if site.social-twitter %}
          <li><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank"><i class="fa fa-twitter" style="color:rgb(255, 255, 255);" aria-hidden="true"></i></a></li>
        {% else %}
          <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" style="color:rgb(255, 255, 255);" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-github %}
          <li class="github"><a href="http://github.com/{{site.social-github}}" target="_blank"><i class="fa fa-github" style="color:rgb(255, 255, 255);"></i></a></li>
        {% else %}
          <li class="github"><a href="http://github.com/" target="_blank"><i class="fa fa-github" style="color:rgb(255, 255, 255);" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-linkedin %}
          <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.social-linkedin}}" target="_blank"><i class="fa fa-linkedin" style="color:rgb(255, 255, 255);"></i></a></li>
        {% else %}
          <li class="linkedin"><a href="https://in.linkedin.com/" target="_blank"><i class="fa fa-linkedin" style="color:rgb(255, 255, 255);" aria-hidden="true"></i></a></li>
        {% endif %}
        {% if site.social-email %}
          <li class="email"><a href="mailto:{{site.social-email}}"><i class="fa fa-envelope-o" style="color:rgb(255, 255, 255);"></i></a></li>
        {% else %}
          <li class="email"><a href="mailto:otavio.attuy@gmail.com"><i class="fa fa-envelope-o" style="color:rgb(255, 255, 255);" aria-hidden="true"></i></a></li>
        {% endif %}
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
    <div style="font-size: 10px; text-align: center">Built with Jekyll.<br>Theme: Flexible Jekyll.</div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
